.center_loader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

.center_loader img {
    width: 150px;
    height: auto;
    animation: beat 1.3s ease-in-out infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #EC297B;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #EC297B;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #EC297B;
    }
}

.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}


@keyframes beat {
    50% {
        scale: 1.1;
    }
}