.footer {
    background-color: var(--raisin-black);
    color: var(--white);
    font-family: var(--ff-inter);
    padding-block: 40px;
    display: flex;
    justify-content: center;
}

.footer .container {
    margin-inline: 15px;
    background-color: var(--eerie-black-3);
    padding: 20px;
}

.footer-list,
.copyright {
    max-width: max-content;
    margin-inline: auto;
}

.footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
}

.footer-link,
.copyright-link {
    text-decoration: underline;
    transition: var(--transition-1);
}

.footer-link {
    color: var(--white_50);
}

:is(.footer-link, .copyright-link):is(:hover, :focus) {
    background-color: hsla(0, 0%, 100%, 0.05);
}

.copyright {
    text-align: center;
}

.copyright-link {
    display: inline-block;
}