.about {
    padding-block-start: 120px;
}

.about-banner {
    position: relative;
    max-width: max-content;
    margin-block-end: 30px;
}

.deco-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light-gray);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 55%;
    left: 100%;
    z-index: -1;
}

.deco-img {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}

.about-img {
    max-width: max-content;
    margin-block-end: 30px;
}

.about .section-subtitle {
    margin-block-end: 10px;
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-block: 25px 35px;
}

.tab-btn {
    background-color: var(--platinum);
    color: var(--granite-gray);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 32px;
}

.tab-btn.active {
    background-color: var(--pistachio);
    color: var(--white);
}

.tab-list {
    margin-block: 25px 50px;
}

.tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 5px;
}

.tab-item .item-icon {
    font-size: 3rem;
    color: var(--pistachio);
}

.tab-text {
    color: var(--eerie-black-2);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
}

.section-text {
    margin-bottom: 20px;
}

.visible {
    display: block;
}

.hide {
    display: none;
}